# This is Git's per-user configuration file.
[user]
	name = Egor Kurnev
	email = kurnev@arrival.com
# Please adapt and uncomment the following lines:
#	name = Egor Kurnev
#	email = kurnev@arrival.com
